
@media (min-width: 450px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(10, 1fr); }
}

body {
  background-color: rgb(243, 239, 227);
}

@font-face {
  font-family: 'Editorial-Old';
  src: url(fonts/Editorial-Old.otf);
}

@font-face {
  font-family: 'Fraktion-Mono-Regular';
  src: url(fonts/FraktionMono-Regular.otf);
}

@font-face {
  font-family: 'Fraktion-Mono-Bold';
  src: url(fonts/FraktionMono-Bold.otf);
}

.title {
  font-family: "Editorial-Old";
  font-size: 48px;
  margin-top: 0;
  display: inline-flex;
  margin-left: 15px;
}

.buttons {
  float: right;
  position: relative;
}

.nav1 {
  font-family: "Editorial-Old";
  font-size: 25px;
  padding: 0.2em 1em;
  margin: 0.5em;
  border-radius: 3.5em;
  display: inline-flex;
  background: rgb(242, 235, 207);
  border-color: black;
 
}

.nav1:hover {
  background: rgb(23, 23, 23);
  border-color: white;
  color: white; 
}

.nav2 {
  font-family: "Editorial-Old";
  font-size: 25px;
  padding: 0.2em 1em;
  margin: 0.5em;
  border-radius: 3.5em;
  display: inline-flex;
  background: rgb(242, 235, 207);
  border-color: black;
 
}

.nav2:hover {
  background: rgb(23, 23, 23);
  border-color: white;
  color: white; 
}

.nav3 {
  font-family: "Editorial-Old";
  font-size: 25px;
  padding: 0.2em 1em;
  margin: 0.5em;
  border-radius: 3.5em;
  display: inline-flex;
  background: rgb(242, 235, 207);
  border-color: black;
 
}

.nav3:hover {
  background: rgb(23, 23, 23);
  border-color: white;
  color: white; 
}

.line1 {
  margin-top: -40px;
}



.cards {
  max-width: auto;
  margin: 0 auto;
  display: grid;
  gap: 0.1rem;
    color: white;
  padding: 1rem;
  height: 3rem;
}

.card1 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card2 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card3 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card4 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card5 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card6 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card7 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card8 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card9 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card10 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card11 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card12 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card13 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card14 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card15 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card16 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card17 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card18 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card19 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card20 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card21 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card22 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card23 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card24 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card25 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card26 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card27 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card28 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card29 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card30 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card31 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card32 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card33 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card34 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card35 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card36 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card37 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card38 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card39 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card40 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card41 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card42 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card43 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card44 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card45 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card46 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card47 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card48 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card49 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card50 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card51 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card52 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card53 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card54 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card55 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card56 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card57 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card58 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card59 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card60 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card61 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card62 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card63 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card64 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card65 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card66 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card67 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card68 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card69 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card70 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card71 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card72 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card73 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card74 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card75 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card76 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card77 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card78 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card79 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card80 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card81 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card82 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card83 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card84 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card85 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card86 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card87 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card88 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card89 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card90 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card91 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card92 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card93 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card94 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card95 {
 
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card96 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card97 {

  color: white;
  padding: 1rem;
  height: 3rem;
}

.card98 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card99 {
  
  color: white;
  padding: 1rem;
  height: 3rem;
}

.card100 {

  color: white;
  padding: 1rem;
  height: 3rem;
}


.img {
  width: auto;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
}



img:hover {
  filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(2);
  }
