@media (min-width: 400px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(5, 1fr); }
}

body {
  background-color: rgb(243, 239, 227);
}

@font-face {
  font-family: 'Editorial-Old';
  src: url(fonts/Editorial-Old.otf);
}

@font-face {
  font-family: 'Fraktion-Mono-Regular';
  src: url(fonts/FraktionMono-Regular.otf);
}

@font-face {
  font-family: 'Fraktion-Mono-Bold';
  src: url(fonts/FraktionMono-Bold.otf);
}

.title1 {
  font-family: 'Fraktion-Mono-Bold';
  font-size: 80px;
  margin-top: -20px;
  margin-left: 20px;
  display: inline-flex;
  margin-bottom: 0px;
}

.title2 {
  font-family: 'Fraktion-Mono-Regular';
  font-size: 30px;
  display: inline-flex;
  margin-left: 20px;
  margin-top: -10px;

}

.buttons {
  float: right;
  position: relative;
}


.nav2 {
  font-family: "Fraktion-Mono-Regular";
  font-size: 15px;
  padding: 0.2em 1em;
  margin: 0.5em;
  border-radius: 3.5em;
  display: inline-flex;
  background: rgb(243, 239, 227);
  border-color: black;
  
 
}

.nav2:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0); 
}

.nav3 {
  font-family: "Fraktion-Mono-Regular";
  font-size: 15px;
  padding: 0.2em 1em;
  margin: 0.5em;
  border-radius: 3.5em;
  display: inline-flex;
  background: rgb(243, 239, 227);
  border-color: black;
 
}

.nav3:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0); 
}

.line1 {
  margin-top: -40px;
}



.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 0.5rem;
}

.card1 {
  
  color: white;
  padding: 1rem;
  height: 6rem;
}

.card2 {
 
  color: white;
  padding: 1rem;
  height: 6rem;
}

.card3 {
 
  color: white;
  padding: 1rem;
  height: 6rem;
}

.card4 {

  color: white;
  padding: 1rem;
  height: 6rem;
}

.card5 {
  
  color: white;
  padding: 1rem;
  height: 6rem;
}

.card6 {
  
  color: white;
  padding: 1rem;
  height: 6rem;
}

.card7 {

  color: white;
  padding: 1rem;
  height: 6rem;
}

.card8 {

  color: white;
  padding: 1rem;
  height: 6rem;
}

.card9 {

  color: white;
  padding: 1rem;
  height: 6rem;
}

.card10 {

  color: white;
  padding: 1rem;
  height: 6rem;
}

.card11 {

  color: white;
  padding: 1rem;
  height: 6rem;
}

.card12 {

  color: white;
  padding: 1rem;
  height: 6rem;
}

.card13 {

  color: white;
  padding: 1rem;
  height: 6rem;
}

.card14 {
  
  color: white;
  padding: 1rem;
  height: 6rem;
}

.card15 {

  color: white;
  padding: 1rem;
  height: 6rem;
}

.card16 {
 
  color: white;
  padding: 1rem;
  height: 6rem;
}

.card17 {
 
  color: white;
  padding: 1rem;
  height: 6rem;
}

.card18 {
 
  color: white;
  padding: 1rem;
  height: 6rem;
}

.card19 {
 
  color: white;
  padding: 1rem;
  height: 6rem;
}

.card20 {
 
  color: white;
  padding: 1rem;
  height: 6rem;
}

.card21 {

  color: white;
  padding: 1rem;
  height: 6rem;
}

.card22 {

  color: white;
  padding: 1rem;
  height: 6rem;
}

.card23 {
  
  color: white;
  padding: 1rem;
  height: 6rem;
}

.card24 {
  
  color: white;
  padding: 1rem;
  height: 6rem;
}

.card25 {

  color: white;
  padding: 1rem;
  height: 6rem;
}


.img {
  width: auto;
  height: 60%;
  object-fit: cover;
  overflow: hidden;
  margin-left: 25%;
  margin-right: 25%;
  display: block;
}

img {
  filter: gray; 
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.9s ease-in-out;  
}

img:hover {
filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(2);
}

@media only screen and (max-width: 800px) {
  
	.title1 {
    margin-top: 10px;
	  font-size: 40px;
	}
  
	.title2 {
	  font-size: 15px;
	}


    .buttons {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        margin-right: 25%;
        margin-left: 25%;

    }


    .cards {
      margin-top: 50px;
    }
}
