@import url(https://fonts.googleapis.com/css2?family=Familjen+Grotesk&family=Roboto+Mono:ital@1&family=Shrikhand&display=swap);

.introduction {
    font-family: "Familjen Grotesk", "sans-serif";
    font-size: 100px;
    text-align: center;
}

.figmalink {
    font-family: "Familjen Grotesk", "sans-serif";
    font-size: 40px;
    text-align: center;
    
}


.homepage {
    font-family: "Familjen Grotesk", "sans-serif";
    text-align: center;
    font-size: 20px;
    bottom: 2%;
}