@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&family=Roboto+Mono:ital@1&family=Shrikhand&display=swap');
@font-face {
  font-family: 'Woodland-Ultralight';
  src: url(fonts/Woodland-Ultralight.otf);
}

#background-video {
    width: 100vw;
    height: 100xh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.fade-in-text1 {
    font-family: 'Woodland-Ultralight';
    font-size: 12.5px;
    animation: fadeIn 5s;
    margin-left: 66%;
    text-align: right;
    color: white;
  }

.fade-in-text2 {
    font-family: 'Woodland-Ultralight';
    font-size: 12.5px;
    margin-left: 70%;
    animation: fadeIn 10s;
    text-align: right;
    color: white;
}

.fade-in-text3 {
    font-family: 'Woodland-Ultralight';
    font-size: 12.5px;
    animation: fadeIn 15s;
    margin-left: 75%;
    text-align: right;
    align-items: top;
    top: 0;
    color: white;
}

.fade-in-text4 {
    font-family: 'Woodland-Ultralight';
    font-size: 12.5px;
    animation: fadeIn 20s;
    text-align: right;
    margin-left: 75%;
    color: white;
}

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }