@font-face {
    font-family: 'Woodland-Ultralight';
    src: url(fonts/Woodland-Ultralight.otf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Woodland-Ultralight";

}

h2{
    position: relative;
    min-height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: "Woodland-Ultralight";
    color: white;
}

h2 {
    color: white;
    font-size: 20px;
    cursor: default;
    text-align: center;
    padding-left: 10em;
    padding-right: 10em;
}


.light{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y) , transparent 10%, rgba(0, 0, 0, 0.95) 20%);

}