@font-face {
    font-family: 'Mori-Semibold';
    src: url(fonts/Mori-Semibold.otf);
}

@font-face {
    font-family: 'Woodland-Ultralight';
    src: url(fonts/Woodland-Ultralight.otf);
}


#video {
    width: 100vw;
    height: 100xh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.title {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mori-Semibold";
    font-size: 55px;
    margin-top: 25%;
    text-align: center;
    
}

.a {
    text-decoration: none;
    color: white;
}

.link {
    color: white;
    font-family: "Mori-Semibold";
    text-align: right;
    display: flex;
    justify-content: right;
    margin-top: 14%;
    margin-right: 1%;
}

link:visited {
    color: rgb(170, 170, 170);
    background-color: transparent;
    text-decoration: none;
}

.link:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
    


.secondtitle {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Woodland-Ultralight";
    font-size: 35px;
    text-align: center;
    
}