
@import url(https://fonts.googleapis.com/css2?family=Familjen+Grotesk&family=Roboto+Mono:ital@1&family=Shrikhand&display=swap);

  
.name {
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 150px;
}

.fill {
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 100px;
}


.p1 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: left;
    align-self: flex-end;
    bottom: 2%;
    position: fixed;
    font-size: 50px;
    font-family: 'Familjen Grotesk', sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: left;
}

.p2 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    bottom: 2%;
    text-align: center;
    position: fixed;
    font-size: 50px;
    font-family: 'Familjen Grotesk', sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
}

.p3 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: right;
    align-self: flex-end;
    bottom: 2%;
    position: fixed;
    font-size: 50px;
    text-align: right;
    font-family: 'Familjen Grotesk', sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
}
  